/* 
  Estilos Personalizados

  Aquí vamos a estilar todas las secciones, sus contenidos y el responsivo.
*/

/* Header */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100%;

}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-normal);
  background-color: var(--dark-color-transparent);
  backdrop-filter: blur(4px);
}

.navbar-menu {
  display: flex;
  gap: var(--space-medium);
}

.navbar-menu a {
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.navbar-menu a:hover {
  color: var(--azulfuerte-color);

}

/* Hero */
.hero {
  height: 100vh;
  min-height: 700px;
  background-image: url("../assets/imagenes/fondo-hello-kitty\ \(1\).png");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-content {
  width: 50%;

}

.hero-content p {
  font-size: 1.125rem;
  margin-bottom: var(--space-medium);
  max-width: 80%;
}

.hero-actions {
  display: flex;
  gap: var(--space-small);
  margin-bottom: var(--space-medium);
}

.hero.icons {
  display: flex;
  gap: var(--space-small);

}

/* Characters */

.characters {
  background-color: plum;
}

.characters-header {
  margin-bottom: 1rem;
}

.characters-content {
  display: flex;
  align-items: center;
}

.characters-thumbnails {
  width: 50%;
}

.thumbnail-item {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  filter: brightness(0.6);
  transition: 0.3s ease;
}

.thumbnail-item:hover {
  bri
}

.characters-showcase {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
}

.thumbnails-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-medium);
}
.characters-

/* Media */

.media-header {
  text-align: center;
  margin-bottom: var(--space-medium);
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  justify-content: center;
  gap: var(--space-medium);
  margin-bottom: var(--space-medium);
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: var(--azulfuerte-color);
}

.carousel-controls {
  display: flex;
  justify-content: center;
}

.carousel-controls button {
  color: var(--azulfuerte-color);
}

.carousel-controls button:hover {
  color: var(--azulfuerte-color);
}

.carousel-controls span {
  font-size: 3rem;
}
/* About */

.about {
  background-image: url("../assets/imagenes/about-background.png");
  background: linear-gradient(90deg,rgba(131, 58, 180, 0.47) 0%, rgba(253, 29, 29, 0.47) 50%, rgba(252, 176, 69, 0.47) 100%);
  background-size: cover;
  background-position: center;
}

.about > div {
  display: flex
  padding: var(--space-large)
}

.about-image,
.aout-content {
  width:50%;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 240px;
  max-width: 300px;
  min-width: 200;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content h2
.about-content p {
  color: var(--azulfuerte-color)
}

/* 

URL Repo
https://github.com/DanielaCloud/landing-page-sanrio.git

URL Pages 
https://danielacloud.github.io/landing-page-sanrio/

*/